
NET "addr<4>"       LOC = "P1";
NET "addr<6>"       LOC = "P2";
NET "addr<5>"       LOC = "P3";
NET "addr<7>"       LOC = "P4";
NET "n_dma"         LOC = "P6";
NET "addr<8>"       LOC = "P7";
NET "ba"            LOC = "P8";
NET "addr<9>"       LOC = "P9";
NET "addr<10>"      LOC = "P10";
NET "addr<0>"       LOC = "P11";
NET "addr<1>"       LOC = "P12";
NET "addr<2>"       LOC = "P13";
NET "addr<3>"       LOC = "P14";
NET "data<7>"       LOC = "P15";
NET "data<6>"       LOC = "P16";
NET "data<5>"       LOC = "P17";
NET "data<4>"       LOC = "P18";
NET "data<3>"       LOC = "P19";
NET "data<2>"       LOC = "P20";
NET "data<1>"       LOC = "P22";
NET "data<0>"       LOC = "P23";
NET "mem_data<3>"   LOC = "P24";
NET "mem_data<6>"   LOC = "P25";
NET "clk"           LOC = "P27";
NET "clk"           BUFG = CLK;
NET "mem_data<5>"   LOC = "P28";
NET "mem_data<7>"   LOC = "P29";
NET "mem_data<1>"   LOC = "P30";
NET "mem_data<2>"   LOC = "P32";
NET "mem_data<4>"   LOC = "P33";
NET "mem_data<0>"   LOC = "P34";
NET "n_mem_oe"      LOC = "P35";
NET "mem_addr<0>"   LOC = "P36";
NET "mem_addr<1>"   LOC = "P37";
NET "n_usb_txe"     LOC = "P39";
NET "n_usb_rxf"     LOC = "P40";
NET "usb_wr"        LOC = "P41";
NET "n_usb_rd"      LOC = "P42";
NET "button_a"      LOC = "P43";
NET "button_b"      LOC = "P46";
NET "button_c"      LOC = "P49";
NET "n_ram_cs"      LOC = "P50";
NET "n_flash_cs"    LOC = "P52";
NET "mem_addr<17>"  LOC = "P53";
NET "mem_addr<16>"  LOC = "P54";
NET "mem_addr<15>"  LOC = "P55";
NET "mem_addr<14>"  LOC = "P56";
NET "mem_addr<13>"  LOC = "P58";
NET "mem_addr<12>"  LOC = "P59";
NET "mem_addr<11>"  LOC = "P60";
NET "mem_addr<10>"  LOC = "P61";
NET "mem_addr<9>"   LOC = "P63";
NET "mem_addr<20>"  LOC = "P64";
NET "mem_addr<21>"  LOC = "P65";
NET "n_mem_wr"      LOC = "P66";
NET "n_led"         LOC = "P67";
NET "mem_addr<22>"  LOC = "P68";
NET "mem_addr<19>"  LOC = "P70";
NET "mem_addr<18>"  LOC = "P71";
NET "mem_addr<8>"   LOC = "P72";
NET "mem_addr<7>"   LOC = "P73";
NET "mem_addr<6>"   LOC = "P74";
NET "mem_addr<5>"   LOC = "P76";
NET "mem_addr<4>"   LOC = "P77";
NET "mem_addr<3>"   LOC = "P78";
NET "mem_addr<2>"   LOC = "P79";
NET "n_romh"        LOC = "P80";
NET "n_irq"         LOC = "P81";
NET "n_nmi"         LOC = "P82";
NET "phi2"          LOC = "P85";
NET "addr<15>"      LOC = "P86";
NET "n_wr"          LOC = "P87";
NET "addr<14>"      LOC = "P89";
NET "n_io1"         LOC = "P90";
NET "addr<13>"      LOC = "P91";
NET "n_game"        LOC = "P92";
NET "addr<12>"      LOC = "P93";
NET "n_exrom"       LOC = "P94";
NET "n_io2"         LOC = "P95";
NET "addr<11>"      LOC = "P96";
NET "n_roml"        LOC = "P97";
NET "n_reset_io"    LOC = "P99";



###############################################################################
### Slew Rates
###############################################################################

NET "mem_addr<0>"   SLEW = SLOW;
NET "mem_addr<1>"   SLEW = SLOW;
NET "mem_addr<2>"   SLEW = SLOW;
NET "mem_addr<3>"   SLEW = SLOW;
NET "mem_addr<4>"   SLEW = SLOW;
NET "mem_addr<5>"   SLEW = SLOW;
NET "mem_addr<6>"   SLEW = SLOW;
NET "mem_addr<7>"   SLEW = SLOW;
NET "mem_addr<8>"   SLEW = SLOW;
NET "mem_addr<9>"   SLEW = SLOW;
NET "mem_addr<10>"  SLEW = SLOW;
NET "mem_addr<11>"  SLEW = SLOW;
NET "mem_addr<12>"  SLEW = SLOW;
NET "mem_addr<13>"  SLEW = SLOW;
NET "mem_addr<14>"  SLEW = SLOW;
NET "mem_addr<15>"  SLEW = SLOW;
NET "mem_addr<16>"  SLEW = SLOW;
NET "mem_addr<17>"  SLEW = SLOW;
NET "mem_addr<18>"  SLEW = SLOW;
NET "mem_addr<19>"  SLEW = SLOW;
NET "mem_addr<20>"  SLEW = SLOW;

NET "mem_data<0>"   SLEW = SLOW;
NET "mem_data<1>"   SLEW = SLOW;
NET "mem_data<2>"   SLEW = SLOW;
NET "mem_data<3>"   SLEW = SLOW;
NET "mem_data<4>"   SLEW = SLOW;
NET "mem_data<5>"   SLEW = SLOW;
NET "mem_data<6>"   SLEW = SLOW;
NET "mem_data<7>"   SLEW = SLOW;

NET "data<0>"       SLEW = SLOW;
NET "data<1>"       SLEW = SLOW;
NET "data<2>"       SLEW = SLOW;
NET "data<3>"       SLEW = SLOW;
NET "data<4>"       SLEW = SLOW;
NET "data<5>"       SLEW = SLOW;
NET "data<6>"       SLEW = SLOW;
NET "data<7>"       SLEW = SLOW;

NET "addr<0>"       SLEW = SLOW;
NET "addr<1>"       SLEW = SLOW;
NET "addr<2>"       SLEW = SLOW;
NET "addr<3>"       SLEW = SLOW;
NET "addr<4>"       SLEW = SLOW;
NET "addr<5>"       SLEW = SLOW;
NET "addr<6>"       SLEW = SLOW;
NET "addr<7>"       SLEW = SLOW;
NET "addr<8>"       SLEW = SLOW;
NET "addr<9>"       SLEW = SLOW;
NET "addr<10>"      SLEW = SLOW;
NET "addr<11>"      SLEW = SLOW;
NET "addr<12>"      SLEW = SLOW;
NET "addr<13>"      SLEW = SLOW;
NET "addr<14>"      SLEW = SLOW;
NET "addr<15>"      SLEW = SLOW;

NET "n_game"        SLEW = SLOW;
NET "n_exrom"       SLEW = SLOW;
NET "n_reset_io"    SLEW = SLOW;
NET "n_irq"         SLEW = SLOW;
NET "n_nmi"         SLEW = SLOW;
NET "n_led"         SLEW = SLOW;
