NET "clk" PERIOD = 20.0ns ;
NET "clk" LOC = "27" ;
NET "led1" LOC = "53" ;
NET "led2" LOC = "52" ;

NET "at<10>" LOC = "16" ;
NET "at<1>" LOC = "13" ;
NET "dt<6>" LOC = "18" ;
NET "at<4>" LOC = "20" ;
NET "at<0>" LOC = "14" ;
NET "ramCE" LOC = "15" ;
NET "at<13>" LOC = "25" ;
NET "dt<7>" LOC = "17" ;
NET "at<11>" LOC = "22" ;
NET "at<14>" LOC = "28" ;
NET "at<12>" LOC = "23" ;
NET "at<20>" LOC = "33" ;
NET "at<19>" LOC = "36" ;
NET "at<15>" LOC = "29" ;
NET "at<8>" LOC = "39" ;
NET "at<16>" LOC = "30" ;
NET "at<7>" LOC = "40" ;
NET "romL" LOC = "87" ;
NET "a<4>" LOC = "94" ;
NET "a<7>" LOC = "91" ;
NET "a<5>" LOC = "93" ;
NET "a<3>" LOC = "95" ;
NET "a<2>" LOC = "96" ;
NET "dt<0>" LOC = "3" ;
NET "a<1>" LOC = "97" ;
NET "a<0>" LOC = "99" ;
NET "dir" LOC = "1" ;
NET "dt<1>" LOC = "4" ;
NET "dt<2>" LOC = "6" ;
NET "dt<3>" LOC = "8" ;
NET "dt<4>" LOC = "9" ;
NET "at<3>" LOC = "11" ;
NET "dt<5>" LOC = "10" ;
NET "at<2>" LOC = "12" ;
NET "a<6>" LOC = "92" ;
NET "at<6>" LOC = "41" ;
NET "at<9>" LOC = "32" ;
NET "midiThru" LOC = "49" ;
NET "s02" LOC = "50" ;
NET "we" LOC = "35" ;
NET "mc6850_rxData" LOC = "54" ;
NET "at<18>" LOC = "37" ;
NET "at<5>" LOC = "42" ;
NET "flashCE" LOC = "60" ;
NET "oe" LOC = "61" ;
NET "mc6850_CS2" LOC = "63" ;
NET "mc6850_rxTxClk" LOC = "55" ;
NET "mc6850_txData" LOC = "56" ;
NET "mc6850_rs" LOC = "64" ;
NET "mc6850_irq" LOC = "58" ;
NET "at<17>" LOC = "59" ;
NET "ba" LOC = "65" ;
NET "reset" LOC = "67" ;
NET "a<15>" LOC = "71" ;
NET "rw" LOC = "72" ;
NET "nmi" LOC = "68" ;
NET "io1" LOC = "76" ;
NET "a<13>" LOC = "77" ;
NET "irq" LOC = "70" ;
NET "romH" LOC = "66" ;
NET "exRom" LOC = "81" ;
NET "a<14>" LOC = "74" ;
NET "a<11>" LOC = "82" ;
NET "io2" LOC = "85" ;
NET "game" LOC = "78" ;
NET "a<9>" LOC = "89" ;
NET "a<10>" LOC = "86" ;
NET "a<8>" LOC = "90" ;
NET "a<12>" LOC = "79" ;
